<footer class="footer bg-dark py-3  mt-auto navbar-expand-md inverse  ">  <!---->
    <div class="container text-center">
        <span class="text-muted text-center" >&copy; 
            地址：台北市文山區指南路二段64號 商院五樓 260528
            | 國立政治大學資訊管理研究所</span>
    </div>
</footer>