
<div class="row sticky-top">
<nav class=" navbar sticky-top navbar-expand-sm navbar-dark bg-dark">

    <div class="container">
    

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class=" navbar-collapse collapse" id="navbarNavAltMarkup">
        <a class="navbar-brand" href="/index">
          <img src="https://mis2.nccu.edu.tw/uploads/site/site_logo/55b59b9e7562756556000018/MIS_R4_logo_copy3_copy.png"  
          class="img-fluid" alt="">
        </a>
        <div class="navbar-nav">
          <a class="nav-link"  href="/index">首頁</a>
          <a class="nav-link" href="/tp-liang">梁定澎教授</a>
          <a class="nav-link" href="/ch-peng">彭志宏教授</a>
          <a class="nav-link" href="/labmember">實驗室成員</a>
          </div>
      </div>
    </div>
  </nav>
</div>
