<% layout('layouts/boilerplate')%>


<div class="container  py-5 mb-5 ">
<div class="row shadow">

   
    <div class="col-xl-4 col-md-4 col-s-12 col-xs-12  mb-3 mr-3  ml-1 pt-3 picintroduce">
      <img src="./pic/ch.png" alt="" class="img-fluid chPicture" />
      <br>
      <br>
      <h3> 彭志宏老師 </h3>
      <p>Chih-Hung Peng</p>
    </div>

    <div class="col-xl-7 col-md-7 col-s-12 col-xs-12">

       
       <br>
       <br>
      <h3>個人簡介</h3>
      <hr />
       <ul>
        <li>電子郵件: chpeng@nccu.edu.tw</a></li>
        <li>聯絡電話:	88140</li>
        <li>職稱:   	助理教授</li>
        
      </ul>

      <br />
      <br />

      <h3>研究專長</h3>
      <hr />
      <ul>
        <li>Virtual team</li>
        <li>Social media</li>
        <li>Organizational innovation</li>
   
        
      </ul>

      <br />
      <br />

      <h3>個人網站</h3>
      <ul>
        <a href="https://sites.google.com/view/ischpeng"><li>https://sites.google.com/view/ischpeng</li></a>
     
      </ul>
    </div>
  </div>
</div>