<% layout('layouts/boilerplate')%>


<div class="container py-5 mb-5">
  <div class="row shadow  ">

    
    <div class="col-xl-4 col-md-4 col-s-12 col-xs-12  mb-3 mr-3  ml-1  pt-3 picintroduce">
      <img src="./pic/tp.jpg" alt="" class="img-fluid tpPicture   " />
      <br>
      <br>
      <h3>梁定澎老師</h3>
      <p>Ting-Peng Liang</p>
      </div>

      <div class="col-xl-7 col-md-7 col-s-12 col-xs-12 ">
   
      <br>
      <br>
      <h3>個人簡介</h3>
      <hr />
       <ul>
        <li>電子郵件: tpliang@nccu.edu.tw</a></li>
        <li>聯絡電話:	89055</li>
        <li>職稱:   	講座教授</li>
        
      </ul>

      <br />
      <br />

      <h3>研究專長</h3>
      <hr />
      <ul>
        <li>電子商務</li>
        <li>知識管理</li>
        <li>資訊管理</li>
        <li>服務科學</li>
        
      </ul>
      <br />
      <br />

      <h3>個人網站</h3>
      <ul>
        <a href="https://liang.mis.nsysu.edu.tw/"><li>https://liang.mis.nsysu.edu.tw/</li></a>
     
      </ul>
    </div>
  </div>
</div>
